@charset "utf-8";

@import "../bulma-0.9.1/sass/utilities/_all.sass";
///*
$scheme-main-light: $scheme-main;
$scheme-main-bis-light: $scheme-main-bis;
$text-light: $text;
$text-strong-light: $text-strong;

$scheme-main: var(--color-scheme-main);
$scheme-main-bis: var(--color-scheme-main-bis);
$text: var(--color-text);
$text-strong: var(--color-text-strong);

@import "../bulma-0.9.1/sass/base/generic.sass";
$hr-background-color-light: $hr-background-color;
$hr-background-color: var(--color-hr-background);
//*/
$text-blackish: var(--color-black);
@import "../bulma-0.9.1/bulma.sass";
@import "_switch.scss";

/* handle darkmode, from https://literallylara.github.io/ */
:root
{
	width: 100%;
	position: relative;

	--color-scheme-main: #{$scheme-main-light};
	--color-scheme-main-bis: #{$scheme-main-bis-light};

	--color-text: #{$text-light};
	--color-text-strong: #{$text-strong-light};
	--color-hr-background: #{$hr-background-color-light};
	--color-black: #{$black};
}

html.dark-mode
{
	--color-scheme-main: #{invert($scheme-main-light)};
	--color-scheme-main-bis: #{invert($scheme-main-bis-light)};

	--color-text: #{invert($text-light)};
	--color-text-strong: #{invert($text-strong-light)};
	--color-hr-background: #{invert($hr-background-color-light)};
	--color-black: #{invert($white)};
}//*/

.has-text-blackish {
  color: $text-blackish;
}

/* from themes/DeepThought/sass/site.css */
@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap";

$font-stack: "Nunito", sans-serif;

$link: hsl(0, 0%, 21%);
$link-hover: hsl(204, 71%, 39%);

$read-more: hsl(204, 71%, 39%);
$read-more-hover: hsl(348, 100%, 61%);

body {
  font: 100% $font-stack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  color: $link;
  &:hover {
    color: $link-hover;
  }
}
.read-more {
  color: $read-more;
  &:hover {
    color: $read-more-hover;
  }
}

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
  body {
    font: 85% $font-stack;
  }
}
